.button-container {
  background-color: #2c333a;
  width: 10rem;
  height: 3rem;
  line-height: 3rem;
  margin: 1rem auto;
  text-align: center;
  font-size: x-large;
  border-radius: 1rem;
}

.home-button {
  display: block;
  text-decoration: none;
  color: #f1f1f1;
}

.heading {
  margin: 1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 30rem;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

.row {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  vertical-align: middle;
  border: 1px solid rgba(0,0,0,.125);
  font-family: "Segoe UI";
}

.row:hover {
  background-color: #f8f9fa;
}

.row > * {
  margin: 0.7rem;
}

.understate {
  color: #999999;
  font-style: italic;
  font-weight: 600;
}
