* {
}

body {
	margin: 0;
}

.nav-bar-1 {
	list-style: none;
	height: 2.5em;
	width: 60%;
	background-color: white;
	padding: 0;
	text-align: center;
	display: inline-block;
	margin: 0% 20%;
	border-right: 1px solid grey;
	border-left: 1px solid grey;
	border-bottom: 1px solid grey;
}

.browse {
	height: 100%;
	width: 15%;
	background-color: #BE1312;
	color: white;
	float: left;
	display: inline-block;
	line-height: 2.5em;
	text-decoration: none;
}

.browse a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	display: block;
	height: 75%;
	width: 80%;
	margin: auto;
	margin-top: 0.3em;
	border-radius: 5em;
	line-height: 1.6em;
	border: 1px solid #242526;
	font-size: 1.1em;
}

.browse a:hover {
	background: #242526;
}

.nav-bar-1 input {
	display: inline-block;
	height: 1.5em;
	margin: 0.6em 1em 0.6em 1em;
	width: 12%;
	float: left;
	border-radius: 0.5em;
}

.nav-bar-1 li a {
	float: left;
	display: inline-block;
	height: 100%;
	line-height: 2.5em;
	font-weight: bold;
	padding: 0em 0.4em;
	text-decoration: none;
	color: black;
}
