#btn-container {
  width: 80%;
  display: flex;
  margin: 2rem auto;
  justify-content: space-between;
}

#back-btn, #restart-btn {
  width: 7rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  background-color: lightblue;
  border-radius: 1rem;
  font-size: large;
  color: black;
}

#back-btn {
  text-decoration: none;
}

#restart-btn {
  
}

#board-container {
  margin: 3rem auto;
  width: 91vw;
  border: 3px solid blue;
}

.row {
  display: flex;
  margin: auto;
  width: 91vw;
}

.square {
  width: 13vw;
  height: 13vw;
  background: radial-gradient(circle at center 6.5vw, transparent, transparent 5vw, blue 2vw);
}

.circle {
  border-radius: 50%;
}

.bg-red {
  background-color: red;
}

.bg-yellow {
  background-color: yellow;
}

