#board-container {
  padding: 1rem;
}

.row {
  display: flex;
  margin: auto;
  width: 91vw;
}

.square {
  width: 13vw;
  height: 13vw;
  background: radial-gradient(circle at center 6.5vw, transparent, transparent 5vw, blue 2vw);
}

.circle {
  border-radius: 50%;
}

.bg-red {
  background-color: red;
}

.bg-yellow {
  background-color: yellow;
}

