/* * {
    border: 1px solid red;
} */

.container {
    background-color: rgb(250, 250, 250);
    margin: 3rem auto;
    width: 40rem;
    height: 20rem;
    text-align: center;
    border: 1px solid black;
}