body {
  text-align: center;
  background-color: #121213;
}

h1 {
  color: #f8f8f8;
  font-family: 'Fira Code', Courier, monospace;
  font-weight: bold;
}

hr {
  color: #3a3a3c;
}

#guess-container {
  width: 24rem;
  height: 23rem;
  margin: auto;
}

.square {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin: 0.1rem;
  border: 2px solid #3a3a3c;
  color: #f8f8f8;
  line-height: 3rem;
  font-family: 'Fira Code', Courier, monospace;
  font-weight: bold;
  font-size: 2rem;
}

#keyboard {
  justify-content: center;
  width: 35rem;
  margin: auto;
}

.row {
  display: flex;
  justify-content: center;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 58px;
  margin: 4px 4px;
  background-color: #818384;
  color: #f9f9f9;
  font-family: 'Fira Code', Courier, monospace;
  font-weight: bold;
  font-size: 1.25rem;
  border-radius: 4px;
  cursor: pointer;
}

.wide {
  width: 70px;
  font-size: 0.8rem;
}

.bg-yellow {
  background-color: #b59f3b;
}

.bg-green {
  background-color: #538d4e;
}

.bg-gray {
  background-color: #3a3a3c;
}
