:root {
  --bg-color: #121213;
  --text-color: #f8f8f8;
  --gray: #3a3a3c;
  --yellow: #b59f3b;
  --green: #538d4e;
}

body {
  text-align: center;
  background-color: var(--bg-color);
  font-family: 'Fira Code', Courier, monospace;
  font-weight: bold;
  user-select: none;
}

#menu {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-top: 4px solid var(--gray);
  border-left: 4px solid var(--gray);
  cursor: pointer;
  transform: rotate(45deg) translate(2rem, 2rem);
}

#menu:after {
  content: '';
  padding: 5rem;
}

dialog {
  transform: translateY(100vh) scale(1, 1);
  transition: transform 300ms ease;
}

.active {
  transform: translateY(0) scale(1, 1);
}



h1 {
  color: var(--text-color);
}

hr {
  color: var(--gray);
}

#toast-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 98;
}

.toast-message {
  opacity: 0;
  width: 11rem;
  margin-bottom: 1rem;
  padding: 0.8rem 0.5rem;
  background-color: var(--text-color);
  color: var(--bg-color);
  font-size: 0.9rem;
  border-radius: 0.2rem;
  animation: fade-out 1.5s 1;
}

#guess-container {
  width: 24rem;
  height: 23rem;
  margin: auto;
}

.square {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin: 0.15rem;
  border: 2px solid var(--gray);
  border-radius: 2px;
  color: var(--text-color);
  line-height: 3rem;
  font-size: 2rem;
  box-sizing: border-box;
}

#keyboard {
  justify-content: center;
  width: 35rem;
  margin: auto;
}

.row {
  display: flex;
  justify-content: center;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 58px;
  margin: 4px 4px;
  background-color: #818384;
  color: var(--text-color);
  font-size: 1.25rem;
  border-radius: 4px;
  cursor: pointer;
}

.wide {
  width: 70px;
  font-size: 0.8rem;
}

#modal {
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
}

.show-letter {
  border-color: #565758;
  animation: display-letter 0.1s;
}

.shake {
  animation: row-shake 0.2s 2;
}

@keyframes flip-gray {
  50% {
    transform: rotateX(90deg);
  }
  100% {
    border: none;
    background-color: var(--gray);
  }
}

@keyframes flip-yellow {
  50% {
    transform: rotateX(90deg);
  }
  100% {
    border: none;
    background-color: var(--yellow);
  }
}

@keyframes flip-green {
  50% {
    transform: rotateX(90deg);
  }
  100% {
    border: none;
    background-color: var(--green);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes display-letter {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes row-shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes row-win {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(0%);
  }
}
