/* * {
    border: 1px solid red;
} */

.container {
    background-color: rgb(250, 250, 250);
    margin: 3rem auto;
    width: 40rem;
    text-align: center;
    border: 1px solid black;
}

#gallows {
    background-color: aquamarine;
    height: 25rem;
}

.word-box {
    background-color: antiquewhite;

}

#chosen-word {
    width: 90%;
    height: 3rem;
    border: 1px solid green;
    margin: auto;
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
}

.letter-guess {
    border-bottom: 2px solid black;
    margin: 0rem 1rem;
    font-size: 3rem;
    line-height: 3rem;
    width: 6%;
}

#letters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 20rem;
}

.letter {
    width: 9%;
    border: 1px solid black;
    margin: 0.7rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 3rem;
}