/* * {border: 1px solid red;} */

.container {
    text-align: center;
    width: 30%;
    margin: auto;
    margin-top: 5rem;
    border: 1px solid black;
    border-radius: 0.5rem 0.5rem 0 0;
    padding-bottom: 2rem;
}

h1 {
    background-color: lightgray;
    margin: 0;
    border-radius: 0.5rem 0.5rem 0 0;
}

label {
    display: inline-block;
    width: 3rem;
    text-align: right;
}