.navbar a {
    text-decoration: none;
}

.container {
    width: 30rem;
    border: 2px solid black;
    border-radius: 2rem;
    margin: auto;
}

h1 {
    background-color: black;
    color: white;
    margin: 0;
    border-radius: 2rem 2rem 0 0;
    text-align: center;
}

button {
    display: block;
    margin: auto;
}

.span {
    font-style: italic;
}