/* * {
    border: 1px solid red;
} */

.container {
    width: 30rem;
    margin: 5rem auto;
    border: 1px solid black;
    border-radius: 0.5rem;
}

h1 {
    text-align: center;
    background-color: aliceblue;
    padding: 2rem;
    margin: 0%;
    border-radius: 0.5rem 0.5rem 0 0;
    border-bottom: 1px solid black;
}

#todo-id {
    list-style: none;
}

li {
    list-style: none;
}