* {
	border: 1px solid black;
}

.container {
	width: 90vw;
	height: 90vh;
	margin: auto;
	background: lightblue;
}

.task-box {
	margin: 1rem;
}

.task-row {
	display: flex;
	justify-content: space-around;
}
