.button-container {
  background-color: #2c333a;
  width: 10rem;
  height: 3rem;
  line-height: 3rem;
  margin: 1rem auto;
  text-align: center;
  font-size: x-large;
  border-radius: 1rem;
}

.back-button {
  display: block;
  text-decoration: none;
  color: #f1f1f1;
}

.back-button:hover {
  color: #f1f1f1;
}

label {
  display: inline-block;
  width: 3rem;
  text-align: right;
}
