.results-div {
  background-color: aqua;
}

#times {
  background-color: white;
  overflow: auto;
  height: 15rem;
  width: 10rem;
}

.stats {
  font-size: 0.7rem;
  font-weight: bold;
}

td {
  font-size: 0.75rem;
}