.container {
  text-align: center;
  margin-top: 2rem;
}

#click-container {
  height: 10rem;
  width: 20rem;
  background-color: rgb(228, 228, 228);
  margin: 2rem auto;
  border-radius: 2rem;
}

#click-text {
  line-height: 10rem;
}

#reset-button {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
