.results-div {
  background: linear-gradient(#d6dfff, #bacafe 30%, #bacafe);
}

#clock {
  font-size: 9rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
}

#times {
  background-color: white;
  overflow: auto;
  height: 15rem;
  width: 10rem;
}

.stats {
  font-size: 0.7rem;
  font-weight: bold;
}

table {
  background-color: #f0f4ff;
}

td {
  font-size: 0.75rem;
}
